<% layout('layouts/boilerplate') %>

<h1>Editing <%= campground.title%></h1>
<form action="/campgrounds/<%=campground._id%>?_method=PUT" method="post">


    <div>
        <label for="title">Title</label>
        <input type="text" name="campground[title]" id="title" value="<%= campground.title  %>">
    </div>
    <div>
        <label for="price">Price</label>
        <input type="text" name="campground[price]" id="price" >
    </div>
    <div>
        <label for="location">Location</label>
        <input type="text" name="campground[location]" id="location" value="<%= campground.location  %>">
    </div>
    <div>
        <label for="Description">Description</label>
        <input type="text" name="campground[Description]" id="Description">
    </div>
    <button>
        Apply Changes
    </button>
</form>
<a href="/campgrounds/<%=campground._id  %>">Back to Campground</a>
